<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--定义数据源bean-->
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"
          destroy-method="close"
          p:driverClass="com.mysql.jdbc.Driver"
          p:jdbcUrl="jdbc:mysql://localhost:3306/_______?useSSL=false&amp;useUnicode=true&amp;characterEncoding=UTF-8"
          p:user="_____"
          p:password="_____"
          p:maxPoolSize="40"
          p:minPoolSize="2"
          p:initialPoolSize="2"
          p:maxIdleTime="30"/>
    <bean name = "localSessionFactoryBean" id="sessionFactory"
          class="org.springframework.orm.hibernate5.LocalSessionFactoryBean"
          p:dataSource-ref="dataSource">
        <!--自动扫描pojo文件夹下带有注解的类-->
        <property name="packagesToScan" value="pojo"/>
        <!--annotatedClass用来列出所有的持久化类-->
        <property name="annotatedClasses">
            <list>

            </list>
        </property>

        <property name="hibernateProperties">
            <props>
                <!--执行数据库连接方言-->
                <prop key="hibernate.dialect">
                    org.hibernate.dialect.MySQL5InnoDBDialect
                </prop>
                <!--是否根据hibernate映射创建数据表-->
                <prop key="hibernate.hbm2ddl.auto">update</prop>
                <!--格式化显示SQL语句-->
                <prop key="hibernate.show_sql">true</prop>
                <prop key="hibernate.format_sql">true</prop>

            </props>
        </property>        
    </bean>
       
    <bean id="hibernateTemplate" class="org.springframework.orm.hibernate5.HibernateTemplate"
          p:sessionFactory-ref="sessionFactory"/>
       
       <!-- 开启注解事务 只对当前配置文件有效 -->
    <tx:annotation-driven transaction-manager="txManager"/>


    <bean id="txManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
</beans>
